<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <title>Boolflix web dei povery</title>
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div id="root">

    <header>
      <div class="headContainer">
        <img src="./assets/img/boolflix.png" alt="logo" />
        <div class="searchBar">
          <button type="button" name="button" @click="searchApiMovie">Cerca</button>
          <input @keyup.enter="searchApiMovie" type="text" name="search" v-model="search">
        </div>
      </div>
    </header>

    <main>
      <div class="cds-container container film">
        <div class="cd vfor">

          <div class="cardPoster">
            <img src="https://image.tmdb.org/t/p/w342/oGXtT5UW8lDWt8uxlww2zw9GmBs.jpg">
          </div>

          <div class="cardInfo">
            <h3>Mulhollanddrdwòlidjalòioejfòaiwejfòoaiejfdfsdf</h3>
            <p class="originalTitle"><strong>Titolo originale: </strong>Mulolland drascacadd dddddddddddddd dddddd scasive</p>
            <span>Lingua originale: </span>
            <span class="originalFlag">
              <img src="https://www.countryflags.io/it/flat/32.png" alt="it">
            </span>
            <p class="originalLang"><strong>Lingua originale: </strong>IT</p>
            <p class="vote">
              <i class="fas fa-star"></i><i class="far fa-star"></i>
            </p>
            <p class="overView"><strong>Overview: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, velit. Cum, nesciunt expedita accusantium. Cupiditate molestiaaconsectetur adipisicing elit. Eius, velit. Cum, nesciunt expedita accusantium. Cupiditate molestconsectetur adipisicing elit. Eius, velit. Cum, nesciunt expedita accusantium. Cupiditate molestconsectetur adipisicing elit. Eius, velit. Cum, nesciunt expedita accusantium. Cupiditate molestsce, temporibus quos.</p>
          </div>
        </div>
      </div>

      <!-- <div class="cds-container container film">
        <div class="cd" v-for="movie in moviesData">
          <img :src=`https://image.tmdb.org/t/p/w342${movie.poster_path}`>
          <h3>{{movie.title}}</h3>
          <span class="originalTitle">{{movie.original_title}}</span>
          <span>
            <img :src=`https://www.countryflags.io/${movie.original_language}/flat/32.png` :alt=`${movie.original_language}`>
          </span>
          <span class="vote">
            <i v-for="piene in movie.vote_average" class="fas fa-star"></i><i v-for="vuote in (5-movie.vote_average)" class="far fa-star"></i>
          </span>
        </div>
      </div>


      <div class="cds-container container tvSerie">

        <div class="cd" v-for="serie in tvShowData">
          <img :src=`https://image.tmdb.org/t/p/w342${serie.poster_path}`>
          <h3>{{serie.name}}</h3>
          <span class="originalTitle">{{serie.original_name}}</span>
          <span>
            <img :src=`https://www.countryflags.io/${serie.original_language}/flat/32.png` :alt=`${serie.original_language}`>
          </span>
          <span>{{serie.original_language}}</span>
          <span class="vote">
            <i v-for="pino in serie.vote_average" class="fas fa-star"></i><i v-for="gino in (5-serie.vote_average)" class="far fa-star"></i>
          </span>
        </div>
      </div> -->

    </main>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./assets/js/main.js"></script>
</body>

</html>
